@font-face {
    font-family: 'Pokemon Classic';
    src: url('./assets/Pokemon-Font.ttf');
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #DFE2EF;
    overflow-y: hidden;
    font-family: 'Pokemon Classic';
}
.gameboy {
    position: absolute;
    top: 20vmin;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90vmin;
    height: auto;
}

/* Image Fade-In */

.fade-in {
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Quiz */

.quiz-body {
    position: absolute;
    background-color: #FFFFFF;
    top: 39.5vmin;
    height: 45vmin;
    width: 49vmin;
    border-radius: 10px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
}

#quiz-container {
    display: flex;
    flex-direction: column;
}

.quiz-image {
    position: relative;
    height: 20vmin;
    align-self: center;
    top: 20%;
}

.text-box {
    width: 98%;
}

#questions-container {
    width: 94.5%;
}

#question-counter {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.text-box,
#questions-container,
.custom-options {
    position: absolute;
    height: 14vmin;
    align-self: start;
    bottom: 0;
    margin-left: 0.5vmin;
    margin-bottom: 1vmin;
    box-shadow: 
        /* top */
        inset 0 5px black,
        inset 0 7px white,
        inset 0 13px black,
        /* bottom */
        inset 0 -5px black,
        inset 0 -7px white,
        inset 0 -13px black,
        /* sides */
        inset 4px 0 black,
        inset 8px 0 white,
        inset 12px 0 black,
        inset -4px 0 black,
        inset -8px 0 white,
        inset -12px 0 black;
}

#dialogue-text {
    cursor: pointer;
    outline: none;

    position: relative;
    margin-top: -0.5px;
    font-size: 2.5vmin;
    padding-left: 2vmin;
    padding-top: 0.5vmin;
}

.question-text {
    position: relative;
    margin-top: -0.5px;
    font-size: 2.5vmin;
    padding-left: 2vmin;
}

/* question answer options */

.custom-options {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    border: 1px solid black;
    width: 89%;
    margin-left: -2vmin;
    margin-bottom: 15vmin;
    height: 23vmin;
    padding-left: 5vmin;
}

.custom-option {
    cursor: pointer;
    padding-top: 0.2vmin;
}

.custom-option:hover::after,
.custom-option:focus::after,
.custom-option.selected::after {
    content: '▶';
    position: absolute;
    left: 0;
    font-size: 2.5vmin;
    padding-left: 1.5vmin;
}

.custom-option:active {
    opacity: 0.5;
}

/* Pokémon Result */
.quiz-result {
    display: flex;
    width: 100%;
    height: 100%;
}

#final-message {
    font-size: 2.5vmin;
    padding-left: 2vmin;
}

.pokemon-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pokemon-name {
    position:absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 0;
    font-size: 2vmin;
}

#pokemon-image {
    height: 20vmin;
    width: auto;
    margin-top: 6vmin;
}

#pokemon-name,
#pokemon-image {
    animation: fadeIn 5s;
}

/* Credits and Share */

#credits-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5vmin;
}

#share-button {
    border: none;
    text-decoration: underline;
    font-family: 'Pokemon Classic';
    background: none;
    color: #272f95;
    cursor: pointer;
    width: 100%;
}

/* small screen adjustments */

@media only screen and (max-width: 600px) {
.text-box,
#questions-container,
.custom-options {
    position: absolute;
    height: 14vmin;
    align-self: start;
    bottom: 0;
    margin-left: 0.5vmin;
    margin-bottom: 1vmin;
    z-index: 1;
    box-shadow: 
        /* top */
        inset 0 2px black,
        inset 0 5px white,
        /* bottom */
        inset 0 -2px black,
        /* sides */
        inset 2px 0 black,
        inset -2px 0 black
}
.custom-options {
    display: flex;
    background-color: #FFFFFF;
    flex-direction: column;
    border: 1px solid black;
    width: 89%;
    margin-left: -2vmin;
    margin-bottom: 15vmin;
    height: 23vmin;
    padding-left: 5vmin;
}
.pokemon-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#pokemon-name {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 2vmin;
}

#pokemon-image {
    position: relative;
    height: 20vmin;
    width: auto;
    transform: translateY(15%);
    z-index: 0;
}

#question-counter {
    position: absolute;
    top: -0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2vmin;
    width: 100%;
    padding-left: 2vmin;
}

.custom-option:active {
    text-decoration: underline;
}
}